@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(11, 12, 16);
  background: linear-gradient(
    180deg,
    rgba(11, 12, 16, 1) 0%,
    rgba(31, 40, 51, 1) 43%,
    rgba(47, 41, 69, 1) 100%
  );

  font-family: "Source Sans Pro", sans-serif;
}

.content {
  grid-area: content;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.container {
  display: grid;
  font-size: 1.2em;
  width: 100%;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

.content,
.footer {
  padding: 1em;
}

/* Navbar */
nav {
  padding-bottom: 10px;
}

.menu {
  list-style-type: none;
  display: none;
  text-align: center;
}

.menu li {
  text-align: center;
  margin: 15px auto;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  font-size: 24px;
}

.menu li a:hover {
  opacity: 1;
}

header a {
  display: inline-block;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
}


.nav-toggler {
  position: absolute;
  margin-top: 10px;
  right: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
}

.active {
  display: block;
}
/* Navbar ends */

/* Hero section */
.hero {
  margin: 0 auto;
  text-align: center;
}

.hero img {
  width: 80%;
}

.hero h1 {
  font-size: 2.2em;
  font-weight: 400;
  color: #fff;
}

.hero h2 {
  color: #fff;
}

.hero p {
  font-weight: 300;
  line-height: 1.7em;
  color: #98a0ad;
}

/* Skills section */
.skills {
  margin: 0 auto;
  text-align: center;
}

.skills h1 {
  font-size: 2.2em;
  font-weight: 400;
  color: #fff;
}

.skills h2 {
  color: #fff;
}

.skills img {
  width: 100%;
}

.skills p {
  font-weight: 300;
  line-height: 1.7em;
  color: #98a0ad;
}

/* Portfolio section */
.portfolio {
  margin: 0 auto;
  text-align: center;
}

.portfolio h2 {
  color: #fff;
}

.portfolio p {
  font-weight: 300;
  line-height: 1.7em;
  color: #98a0ad;
}

/* Footer */

footer {
  width: 100%;
  color: white;
  text-align: center;
}

footer small {
  font-size: 1.2em;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  /*Navbar for desktop */
  nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .menu {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .menu li {
    margin: 0;
  }

  .menu li {
    margin-left: 40px;
  }

  .fas.fa-code {
    margin-top: 0;
  }

  .nav-toggler {
    display: none;
  }

  .fas.fa-code:hover,
  .menu li:hover {
    color: rgba(255, 255, 255, 1);
  }
  /*Navbar*/

  /*Hero*/
  .hero img {
    width: 30%;
  }

  .hero {
    margin-bottom: 50px;
  }

  .hero-content {
    padding: 0 8em;
  }

  .hero h1 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    margin-bottom: -0.1em;
  }

  .hero h2 {
    font-size: 2.5em;
    opacity: 0.8;
    color: #fff;
  }

  /*Skills*/
  .skills img {
    width: 40%;
  }

  .skills {
    margin-bottom: 50px;
  }

  .skills h2 {
    font-size: 2em;
  }

  .skills-content {
    padding: 0 8em;
  }
  /* Portfolio*/

  .portfolio-content {
    padding: 0 8em;
  }

  .portfolio h2 {
    font-size: 2em;
  }

  .content p {
    font-size: 1.2em;
  }
}